extends ../layout

block content
  h1.col-xs-8.col-xs-offset-2=title 

  div.col-xs-8.col-xs-offset-2
    form(action='/twitter/statuses/user_timeline', method='post')

      each val, key in params 
        div.form-group
          label(for='key')=key  
          if (val.required === false)
            input(type=val.type, name=key, required=val.required, placeholder=val.example).form-control
          else
            input(type=val.type, name=key,  placeholder=val.example).form-control
          blockquote #{val.about}

      button(type='submit', class='btn btn-info') Submit
